<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SomkeTesting">
   <listeners>
       <listener class-name="Util.Listener"/>
   </listeners>
   <test name="first test">
       <classes>
           <class name="RegisterTest">
               <methods>
                   <include name="RegisterFemaleTest"/>
               </methods>
           </class>
           <class name="LoginTest">
               <methods>
                   <include name="LoginFelmalTest"/>
               </methods>
           </class>
           <class name="SearchTest">
               <methods>
                   <include name="SearchTestContianeWord"/>
               </methods>
           </class>
           <class name="ShoppingCardTest">
               <methods>
                   <include name="testAddingItemAndCheckingCount"/>
               </methods>
           </class>
           <class name="WishListTest">
               <methods>
                   <include name="testAddItemAndCheckWishListPage"/>
               </methods>
           </class>
           <class name="FollowUsTest">
               <methods>
                   <include name="followUsTest"/>
               </methods>
           </class>

       </classes>
   </test>


</suite>