<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="first test suite">
    <test name="test">
        <groups>
            <run>
                <include name="Female-user"/>
            </run>
        </groups>
    </test>

    <test name="4">
        <classes>
            <class name="RegisterTest"/>
            <class name="LoginTest"/>
            <class name="SearchTest"/>
            <class name="ShoppingCardTest"/>
            <class name="WishListTest"/>
            <class name="FollowUsTest"/>
        </classes>
    </test>

</suite>