<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="nopcommerce">
    <test name="test">
        <classes>
            <class name="RegisterTest">
                <methods>
                    <include name="RegisterFemaleTest"/>
                </methods>
            </class>
            <class name="LoginTest">
                <methods>
                    <include name="LoginFelmalTest"/>
                </methods>
            </class>
            <class name="SearchTest">
                <methods>
                    <include name="SearchTestContianeWord"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>